<!DOCTYPE html>
<html lang="en">
<head>

    {% load static %}
    <link rel="stylesheet" href="{% static '/form.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FORM</title>
</head>
<body>
    <form action="/form" method="post">
        {% csrf_token %}
        <input type="text" name="std_name" placeholder="Enter name">

        <br><br>
        <input type="number" name="rollno" placeholder="Enter rollno">
        <br><br>
        <label for="">Select Course</label>
        <select name="course" id="">
            <option value="BCA">BCA</option>
            <option value="BTech">Btech</option>
            <option value="Mtech">Mtech</option>
            <option value="MCA">MCA</option>
        </select>
        <br><br>
        <button type="submit">Submit</button>
    </form>

</body>
</html>